.section-card {
  margin-bottom: 20px;
  margin-right: 1%;
  margin-left: 1%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex: 1 1 400px; /* Set the base width to 400px */
  max-width: 100%;
}
.card {
  cursor: pointer;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  transition: box-shadow 0.3s ease;
}
.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: #f8f9fa;
  border-bottom: 1px solid #ddd;
  position: relative;
}
.card-icon {
  font-size: 24px;
  margin-right: 10px;
}
.card-body {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transform: scaleY(0);
  transform-origin: top;
  transition:
    max-height 0.5s ease,
    opacity 0.5s ease,
    transform 0.5s ease;
}
.card-body.open {
  max-height: 1000px;
  opacity: 1;
  transform: scaleY(1);
}
.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.container {
  padding: 0 15px;
}
@media (max-width: 1200px) {
  .section-card {
    flex: 1 1 calc(33.33% - 2%);
  }
}
@media (max-width: 992px) {
  .section-card {
    flex: 1 1 calc(50% - 2%);
  }
}
@media (max-width: 768px) {
  .section-card {
    flex: 1 1 calc(100% - 2%);
    margin-right: 0;
    margin-left: 0;
  }
}
